<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%d{hh:mm:ss a z} %highlight(%-5level %logger) - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.mongodb.driver" level="ERROR"/>
    <logger name="net.dv8tion.jda" level="INFO"/>
</configuration>